<div class="enter-game">
  <p>
    Socket connected:
    {{ isConnected() ? "Yes" : "No" }}
  </p>

  <p>Login:</p>
  <input
    type="text"
    [disabled]="isUser()"
    [(ngModel)]="login"
  />

  @if (isUser()) {
    <p>Session id to join:</p>
    <input
      type="number"
      [valueAsNumber]="true"
      [(ngModel)]="sessionId"
    />
  }

  @if (sessionIdJoined(); as sessionIdJoined) {
    <p>Joined to session id: {{ sessionIdJoined }}</p>
  }

  @if (isConnected()) {
    <app-enter-game-controls
      [isSessionJoined]="!!sessionIdJoined()"
      [isUser]="isUser()"
      [sessionId]="sessionId"
      [username]="login"
    />
  }
</div>
