<div class="enter-game">
  <p>
    Socket connected:
    {{ isConnected() ? "Yes" : "No" }}
  </p>

  <p>Login:</p>
  <input
    #loginInput
    type="text"
    [disabled]="isUser()"
    [value]="login"
    (change)="login = loginInput.value"
  />

  <ng-container *ngIf="isUser()">
    <p>Session id to join:</p>
    <input
      #sessionIdInput
      type="text"
      [value]="sessionId"
      (change)="setSessionId(sessionIdInput.value)"
    />
  </ng-container>

  <p *ngIf="sessionIdJoined()">Joined to session id: {{ sessionIdJoined() }}</p>

  <app-enter-game-controls
    *ngIf="isConnected()"
    [isSessionJoined]="!!sessionIdJoined()"
    [isUser]="isUser()"
    [sessionId]="sessionId"
    [username]="login"
  />
</div>
