<div class="select-winner" *ngIf="roundState | async as state">
  <app-meme
    *ngFor="let roundMeme of state.roundMemes"
    [meme]="roundMeme.meme"
    class="card"
    [ngClass]="{
      canSelect: canSelect,
      winner:
        state.roundWinner?.meme?.id &&
        roundMeme.meme.id === state.roundWinner?.meme?.id,
      preWinner:
        state.roundPreWinner?.meme?.id &&
        roundMeme.meme.id === state.roundPreWinner?.meme?.id
    }"
    (click)="selectWinner(roundMeme.meme)"
  />

  <div class="no-memes" *ngIf="!state.roundMemes.length">
    В этом раунде не выбрано ни одного мема.
  </div>
</div>
