<div class="game">
  <app-game-info class="border" />

  <div class="center">
    <app-select-situation
      *ngIf="canSelectSituation(); else selectedMemeAndSituation"
    />

    <ng-template #selectedMemeAndSituation>
      <app-selected-meme class="border" *ngIf="!isUserActive()" />
      <app-selected-situation class="border" />
    </ng-template>
  </div>

  <ng-container *ngIf="canShowWinner()">
    <app-select-winner [canSelect]="isUserActive()" />
  </ng-container>

  <app-hand [isActive]="canSelectMeme()" />
</div>
