<div class="game" *ngIf="state | async as state">
  <app-game-info class="border" />

  <div class="center">
    <app-select-situation
      *ngIf="
        state.currentStage === '1' &&
          !state.isSituationSelected &&
          state.isUserActive;
        else selectedMemeAndSituation
      "
    />

    <ng-template #selectedMemeAndSituation>
      <app-selected-meme class="border" *ngIf="!state.isUserActive" />
      <app-selected-situation class="border" />
    </ng-template>
  </div>

  <ng-container
    *ngIf="state.currentStage === '3' || state.currentStage === '4'"
  >
    <app-select-winner [canSelect]="state.isUserActive" />
  </ng-container>

  <app-hand [isActive]="state.currentStage === '2' && !state.isUserActive" />
</div>
