:host {
  position: absolute;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-situation {
  padding: 20px;
  display: flex;
  gap: 5px;
}

.situation {
  padding: 10px;
  background-color: burlywood;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
