.hand {
  max-height: 25vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.card {
  max-width: fit-content;
  flex: 0 1 15%;
  cursor: not-allowed;

  &.active {
    cursor: pointer;
  }
}
