<div class="game-info">
  <div class="up">
    <div class="round">Round: {{ gameInfo().round }}</div>
    <div class="stage">Stage: {{ gameInfo().stage }}</div>
    <div class="timer">Timer: {{ gameInfo().second }}</div>

    <div class="active-user">
      Active User:
      <span [ngClass]="{ active: isUserActive() }">
        {{ activeUser() }}
      </span>
    </div>
  </div>
  <div class="bottom">
    <div class="stage-info">
      {{ gameInfo().stageInfo }}
    </div>

    <div class="description">
      {{ gameInfo().description }}
    </div>

    <div class="error">
      {{ error() }}
    </div>
  </div>
</div>
